{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <!-- Check fontawesome version of icons and link -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">

    <!-- For displaying thought js client -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.cjs.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.js"></script>

</head>
<body>
    <!-- Topbar -->
<!--    <div class="topnav">-->
<!--        <a class="active" href="#home">Home</a>-->
<!--        <a href="#news">News</a>-->
<!--        <a href="#contact">Contact</a>-->
<!--        <a href="#about">About</a>-->
<!--</div>-->

    <!--    Search line-->
    <div>
        <form class="d-flex" method="post" action="{% url 'search-weather' %}">
            {% csrf_token %}
            <!-- There name="searched" for reference -->
            <input class="form-control me-2" type="search" placeholder="Search weather for city" aria-label="Search"
                   name="searched">
            <button class="btn btn-warning" type="submit">Search</button>
        </form>
    </div>
    <!-- Sidebar -->
    <aside>
        <img src="{% static 'main/img/Jimg.jpg' %}" alt="Logo">
        <span class="logo">dayBook</span>
        <h3>Navigation</h3>
        <ul>
            <a style="text-decoration:none" href="{% url 'home' %}"><li><i class="fas fa-house-user"></i>Main</li></a>
            <a style="text-decoration:none" href="{% url 'events' %}"><li><i class="fas fa-address-card"></i></i>Events</li></a>
            <a style="text-decoration:none" href="{% url 'create' %}"><li><i class="fas fa-address-card"></i></i>Add event</li></a>
        </ul>
    </aside>
    <!-- Main part -->
    <main>
        <!-- Can use the word 'section' instead 'block' -->
        {% block content %}
            
        {% endblock %}

    </main>

</body>
</html>